.card-list {
  position: absolute;
  left: 30%;
  border: 2px solid white;
  height: 125px;
  width: 300px;
  text-align: center;
}

.player {
  bottom: 10px;
}

.dealer {
  top: 10px;
}

.gameboard {
  position: relative;
  height: 500px;
  border: 5px solid black;
  border-radius: 20%;
  background-color: #204631;
  color: black;
}
