.gameboard {
  position: relative;
  height: 500px;
  border: 5px solid black;
  border-radius: 20%;
  background-color: #204631;
  color: black;
}

.card-list {
  display: inline-flex;
}

.player {
  position: absolute;
  bottom: 10px;
  left: 15%;
}

.dealer {
  position: absolute;
  top: 10px;
  left: 15%;
}
